body {
    width: 100vh;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.header {
    background-color: darkslategray;
    width: 100vw;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    
    
}
a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 12px;
}
.links {
    margin-right: 50px;
}

.intro {
    background-color: darkslategray;
    width: 100vw;
    color: white;
    flex: 1;
}

.second {
    flex: 1;
}
.quote {
    flex: 1;
}
.container {
    flex: 1;
}
.footer {
    background-color: darkslategray;
    padding: 30px;
}